#menuNav {
    display: flex;
    flex-flow: row;
    float: left;
 }

 #menuNavPags {
    display: flex;
    flex-flow: row;
    position: relative;
    left:35%;
    border: 2px solid #8F1A00;
    width: 400px;
 }

 #contenido {
     float: none;
 }

 #titulo{
    float: none;
    width: 100%;
 }

 #video{
     position: relative;
     left: 25%;
 }
